Package: vercel-deployments
Version: 1.0.0-1
Architecture: all
Maintainer: Liglu <maintainers@example.com>
Installed-Size: 67
Depends: python3-requests, python3:any, python3-gi, gir1.2-gtk-3.0, gir1.2-notify-0.7, gir1.2-ayatanaappindicator3-0.1 | gir1.2-appindicator3-0.1, libayatana-appindicator3-1 | libappindicator3-1
Section: utils
Priority: optional
Homepage: https://github.com/andrewk17/vercel-deployment-menu-bar
Description: GNOME AppIndicator to monitor Vercel deployments
 This package provides a Linux port of a macOS menu bar app to monitor
 Vercel deployments (build/ready/error). Shows recent deployments and
 quick access to open them in the browser.
